** Price sütunu data analizi

In [455]:
df.price.sort_values().head(10)

8594       13
8828      120
6066      255
8829      331
8827     4950
8825     4990
8826     5250
8824     5300
13770    5445
8823     5450
Name: price, dtype: int64

In [499]:
price_count.sort_index().head(10)          # 4950 altındaki değerler şüpheli

13      1
120     1
255     1
331     1
4950    1
4990    1
5250    1
5300    1
5445    1
5450    1
Name: price, dtype: int64

In [498]:
price_count.sort_index(ascending=False).head(10)         # üst değerler yüksek model (limuzin gibi) olduğundan normal

74600    1
68320    1
67600    1
64900    1
64332    1
64298    1
63900    1
63477    1
62900    1
58990    1
Name: price, dtype: int64

In [ ]:
# 8594       13     8828      120       6066      255       8829      331

In [469]:
# df.iloc[[8594]]    # Opel Corsa	1.4 (ecoFLEX)
# df.iloc[[8828]]   # Opel Corsa	1.0 Turbo 120 Jaar
# df.iloc[[6066]]   # Opel Astra	1.6 D (CDTI) Start/Stop Sports Tourer Business	Station wagon
# df.iloc[[8829]]     # Opel Corsa	Corsa1.0 Turbo 90

In [474]:
df.iloc[[8594]] = scout_car.iloc[[8594]]    # bu satıra yanlış değerleri doldurunca tekrar orjinalini almak için bu satırı yazdım

In [491]:
df.price.isnull().sum()

4

In [ ]:
df.iloc[[8594, 8828, 6066, 8829]]

In [533]:
df.iloc[8829].price = df[df["make_model"]=="Opel Corsa"]["price"].mode()[0]    #nan yapmış olduğum değerleri manuel olarak doldurdum. fillna ile yapamadım.

In [534]:
df.iloc[8829].price                # nan yapmış olduğum değerleri doldurduğumu test ettim

10990

In [215]:
# 15828    64332             # pahalı araçlara bir bakalım. null sayıları ipuçları ile örtüşüyor ama uç minimum değerler var.
# 3587     64900
# 3649     67600
# 15826    68320
# 3648     74600

In [ ]:
df.iloc[[3648, 15826, 3649, 3587, 15828]]

In [ ]:
# Renault Espace Initiale Paris model araçların avrupa fiyatlarını kontrol ettim, benzer km.ler bu fiyat. Yani bu araç fiyatları değerlendirmede kalmalı.

In [572]:
df.price.dtype

dtype('float64')

** Vat sütunu data analizi

In [93]:
df.vat.unique()

array(['VAT deductible', 'Price negotiable', None], dtype=object)

In [94]:
df.vat.isnull().sum()

4513

In [ ]:
# vat'ları olduğu gibi bırakıyorum. birlikte de incelemiştik. değerler mantıklı. ayrıca ipuçları ile örtüşüyor. sütun ismi uygun. None olması normal.

** Number of Doors data analizi

In [122]:
df.rename(columns = {'Nr. of Doors':'nr_of_doors', 'Nr. of Seats':'nr_of_seats'}, inplace = True)

In [575]:
df.nr_of_doors.isnull().sum()

212

In [546]:
df['nr_of_doors'] = df['nr_of_doors'].astype(str).str[4]

In [1]:
df['nr_of_doors'].value_counts(dropna=False)

NameError: name 'df' is not defined

In [577]:
df['nr_of_doors'] = df['nr_of_doors'].astype(float)

In [578]:
df['nr_of_doors'].dtype

dtype('float64')

In [579]:
df.nr_of_doors

0       5.000
1       3.000
2       4.000
3       3.000
4       5.000
         ...
15914   5.000
15915   5.000
15916   5.000
15917   5.000
15918   5.000
Name: nr_of_doors, Length: 15919, dtype: float64

In [580]:
for group in list(df['make_model'].unique()):
    cond = df['make_model'] == group
    mode = list(df[cond]['nr_of_doors'].mode())
    if mode != []:
        df.loc[cond,'nr_of_doors'] = df.loc[cond,'nr_of_doors'].fillna(df[cond]['nr_of_doors'].mode()[0])
    else:
        df.loc[cond,'nr_of_doors'] = df.loc[cond,'nr_of_doors'].fillna(df['nr_of_doors'].mode()[0])

In [581]:
df['nr_of_doors'].value_counts(dropna=False)

5.000    11787
4.000     3079
3.000      832
2.000      219
1.000        1
7.000        1
Name: nr_of_doors, dtype: int64

In [582]:
df['nr_of_doors'].isnull().sum()                # Araç kapı sayısı null olan kalmadı.

0

** Number of Seats data analizi

In [599]:
df.nr_of_seats

0        [\n5\n]
1        [\n4\n]
2        [\n4\n]
3        [\n4\n]
4        [\n5\n]
          ...
15914    [\n5\n]
15915    [\n5\n]
15916    [\n7\n]
15917    [\n7\n]
15918    [\n5\n]
Name: nr_of_seats, Length: 15919, dtype: object

In [600]:
df['nr_of_seats'] = df['nr_of_seats'].str[0].str.strip('\n').astype('float')
# df['nr_of_seats'] = df['nr_of_seats'].astype(str).str[4]

In [601]:
df.nr_of_seats.dtype

dtype('float64')

In [602]:
df['nr_of_seats'].value_counts(dropna=False)

5.000    13336
4.000     1125
NaN        977
7.000      362
2.000      116
6.000        2
3.000        1
Name: nr_of_seats, dtype: int64

In [603]:
for group in list(df['make_model'].unique()):
    cond = df['make_model'] == group
    mode = list(df[cond]['nr_of_seats'].mode())
    if mode != []:
        df.loc[cond,'nr_of_seats'] = df.loc[cond,'nr_of_seats'].fillna(df[cond]['nr_of_seats'].mode()[0])
    else:
        df.loc[cond,'nr_of_seats'] = df.loc[cond,'nr_of_seats'].fillna(df['nr_of_seats'].mode()[0])

# nan ları doldurdum

In [604]:
df['nr_of_seats'].value_counts(dropna=False)           # nan kalmadı

5.000    14313
4.000     1125
7.000      362
2.000      116
6.000        2
3.000        1
Name: nr_of_seats, dtype: int64

** Entertainment sütunu data analizi

In [414]:
df['entertainment_media']

0        [Bluetooth, Hands-free equipment, On-board com...
1        [Bluetooth, Hands-free equipment, On-board com...
2                                 [MP3, On-board computer]
3        [Bluetooth, CD player, Hands-free equipment, M...
4        [Bluetooth, CD player, Hands-free equipment, M...
                               ...
15914    [Bluetooth, Digital radio, Hands-free equipmen...
15915    [Bluetooth, Digital radio, Hands-free equipmen...
15916    [Bluetooth, Hands-free equipment, On-board com...
15917               [Bluetooth, Digital radio, Radio, USB]
15918                                                [USB]
Name: entertainment_media, Length: 15919, dtype: object

In [416]:
df["entertainment_media"] = [",".join(item) if type(item) == list else item for item in df["entertainment_media"]]

# köşeli parantez(liste)den çıkardım.

In [417]:
df.entertainment_media

0        Bluetooth,Hands-free equipment,On-board comput...
1        Bluetooth,Hands-free equipment,On-board comput...
2                                    MP3,On-board computer
3        Bluetooth,CD player,Hands-free equipment,MP3,O...
4        Bluetooth,CD player,Hands-free equipment,MP3,O...
                               ...
15914    Bluetooth,Digital radio,Hands-free equipment,O...
15915    Bluetooth,Digital radio,Hands-free equipment,R...
15916    Bluetooth,Hands-free equipment,On-board comput...
15917                    Bluetooth,Digital radio,Radio,USB
15918                                                  USB
Name: entertainment_media, Length: 15919, dtype: object

In [418]:
df.entertainment_media.value_counts(dropna=False)

NaN                                                                                                 1374
Bluetooth,Hands-free equipment,On-board computer,Radio,USB                                          1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB                                       982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB                             783
On-board computer,Radio                                                                              487
                                                                                                    ...
Bluetooth,CD player,Digital radio,Hands-free equipment,Radio                                           1
CD player,Hands-free equipment,MP3,Radio,USB                                                           1
MP3,Radio,Sound system,USB                                                                             1
Bluetooth,MP3,On-board computer,Radio,Television,USB                                                   1
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,Sound system,Television,USB       1
Name: entertainment_media, Length: 347, dtype: int64

In [419]:
# entertainment_media sütunundaki nan değerleri dolduran kod yazdık 

for group in list(df['make_model'].unique()):
    cond = df['make_model'] == group
    mode = list(df[cond]['entertainment_media'].mode())
    if mode != []:
        df.loc[cond,'entertainment_media'] = df.loc[cond,'entertainment_media'].fillna(df[cond]['entertainment_media'].mode()[0])
    else:
        df.loc[cond,'entertainment_media'] = df.loc[cond,'entertainment_media'].fillna(df['entertainment_media'].mode()[0])

In [420]:
df.entertainment_media.isnull().sum()      # entertainment_media sütununda nan kalmadı

0

In [605]:
df.entertainment_media.value_counts(dropna=False)             # entertainment_media sütununda nan değerler koda uygun dağıldı, nan kalmadı

Bluetooth,Hands-free equipment,On-board computer,Radio,USB                  2015
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB              1206
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB    1048
Bluetooth,Hands-free equipment,On-board computer,Radio                       529
On-board computer,Radio                                                      487
                                                                            ...
Bluetooth,CD player,MP3                                                        1
CD player,USB                                                                  1
Bluetooth,CD player,Digital radio,Radio,USB                                    1
NaN                                                                            1
Hands-free equipment,On-board computer,Radio,Sound system                      1
Name: entertainment_media, Length: 347, dtype: int64

** Description sütunu data analizi

In [608]:
df.description = scout_car.description        # hatalı işlem yapınca kopyadan geri getirdim.

In [609]:
df.description

0        [\n, Sicherheit:,  , Deaktivierung für Beifahr...
1        [\nLangstreckenfahrzeug daher die hohe Kilomet...
2        [\n, Fahrzeug-Nummer: AM-95365,  , Ehem. UPE 2...
3        [\nAudi A1: , - 1e eigenaar , - Perfecte staat...
4        [\n, Technik & Sicherheit:, Xenon plus, Klimaa...
                               ...
15914    [\nVettura visionabile nella sede in Via Roma ...
15915    [\nDach: Panorama-Glas-Schiebedach, Lackierung...
15916    [\n, Getriebe:,  Automatik, Technik:,  Bordcom...
15917    [\nDEK:[2691331], Renault Espace Blue dCi 200C...
15918    [\n, Sicherheit Airbags:,  , Seitenairbag,  , ...
Name: description, Length: 15919, dtype: object

In [610]:
df.description.isnull().sum()

0

In [ ]:
df.description.astype('str').value_counts(dropna=False)

In [ ]:
# Karışık, farklı dillerde çok sayıda veri var. Ancak bunlar diğer sütunlarda var, ihtiyaç yok. Düşürelim.

In [292]:
# df.drop("description", axis=1, inplace=True)

** Warranty sütunu data analizi

In [ ]:
df['Warranty']

In [257]:
df.rename(columns = {'Warranty':'warranty_months'}, inplace = True)

In [262]:
df.warranty.isnull().sum()

5420

In [267]:
df.warranty.head(30)

0                      [\n, \n, \n4 (Green)\n]
1                                          NaN
2             [\n, \n, \n99 g CO2/km (comb)\n]
3                                          NaN
4                         [\n, \n, \nEuro 6\n]
5                                          NaN
6                                          NaN
7                         [\n, \n, \nEuro 6\n]
8                  [\n12 months\n, \nEuro 6\n]
9                                 \n3 months\n
10                                         NaN
11                        [\n, \n, \nEuro 6\n]
12                        [\n, \n, \nEuro 6\n]
13                               \n12 months\n
14                                         NaN
15                 [\n12 months\n, \nEuro 6\n]
16                                         NaN
17                                         NaN
18     [\n6 months\n, \n103 g CO2/km (comb)\n]
19                                          \n
20    [\n12 months\n, \n105 g CO2/km (comb)\n]
21    [\n12 months\n, \n112 g CO2/km (comb)\n]
22                                    [\n, \n]
23                                          \n
24                                         NaN
25                                         NaN
26                        [\n, \n, \nEuro 6\n]
27                                         NaN
28                                         NaN
29                                         NaN
Name: warranty, dtype: object

In [268]:
df.warranty.str.extract('(\d\d months|\d months)').head(30)

            0
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9    3 months
10        NaN
11        NaN
12        NaN
13  12 months
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN

In [273]:
df.warranty.str.extract('(months)').count()              # içinde sadece months yzanları saydırdım

0    2057
dtype: int64

In [271]:
df.warranty.str.extract('(\d\d months|\d months)').count()                # yanında rakam yazan monthsları saydırdım

0    2057
dtype: int64

In [274]:
# df.warranty = df.warranty.str.extract('(\d\d months|\d months)')      # bu monthlar ile birlikte çıkarıyor

In [277]:
df.warranty = df.warranty.str.extract('(\d\d | \d)')                   # sadece rakamları çıkardım

In [278]:
df.warranty

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
15914    24
15915    NaN
15916    NaN
15917    NaN
15918    NaN
Name: warranty, Length: 15919, dtype: object

In [615]:
df.warranty.value_counts(dropna=False)                   # çok sayıda nan değeri var ama her aracın garantisi olmak zorunda değil

NaN    13965
12      1177
24       566
48       109
36        56
60        19
72        15
18         3
19         2
26         2
28         1
13         1
30         1
23         1
25         1
Name: warranty, dtype: int64

!! Silinecek iki sütunum vardı:

In [ ]:
# drop_columns  = ['Last Service Date', 'Last Timing Belt Service Date']
# df.drop(drop_columns, axis=1, inplace=True)